h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: clamp(32px, 4vw, 56px);
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin: 32px 0 16px;
  }

.navigationToSecond {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: clamp(32px, 3vw, 56px);
    
}


.center {
    text-align: center;
    margin-top: 16px;
}